<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        
        <style>

body {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
  
}
img {
  max-width: 100%;
  height: auto;
}
.texts {
   font-weight: 700;
   font-size: larger;
}
@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(white, 0.8);
  }
}


        </style>
    </head>
    <body>
      
        <img src='/static/ckd.jpg' width="400" height="300" alt=''>

        <p class="texts">You have Chronic Kidney Disease!!</p>
        
        
      
    </body>
</html>
